.card:hover{
    box-shadow: 1px 0px 15px 1px gray;
}
.card p{
    font-family: sans-serif;
}
.card button{
    font-family: monospace;
}




/* media query */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .navbar_respon{
    background-color: #fff;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .navbar_respon{
    background-color: #fff;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}